services:
  java-react-app:
    image: ${DOCKERHUB_REPO}:${IMAGE_TAG}
    container_name: java-react-app
    ports:
      - "7071:7071"
    depends_on:
      - postgres-db
    restart: always

  postgres-db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
